
body{
color: white;
font-size: 125%;
background-color: black;
padding: 1px;
margin: 25px;
border-radius:20px;
font-family: helvetica;
font-weight: bold;
background-image: url(https://i.pinimg.com/564x/6e/a3/b7/6ea3b736cad1fdd96b3bdc6cbb740104.jpg);
}
